html {
  background: #2980B9;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2980B9, #6DD5FA, #FFFFFF);
  background: linear-gradient(to right, #2980B9, #6DD5FA, #FFFFFF);
}

footer {
  background: rgba(245, 245, 245, 0.5);
}

.jumbotron {
  background-color: rgba(233, 236, 239, 0.8);
}

