.container {
  padding-top: 30px;
}

.jumbotron {
  padding-top: 32px;
  padding-bottom: 32px;
  /* max-width: 700px;
  margin: auto; */
}

.img-thumbnail {
  border: none;
}

.crop {
  width: 100%;
  padding: 10px 0;
  overflow: hidden;
}

.crop img {
  width: 100%;
  height: auto;
}

.no-background {
  background: none;
}