<div class="grid-wrapper">
  <div>
    <div class="profile">
      <div class="box-shadow">

      </div>
    </div>
  </div>

  <div>
    <div class="jumbotron box-shadow">
      <!-- <h1>About</h1> -->
      <p>Hi 👋🏻, my name’s Binh.</p>
      <p>I’m so passion about Web Development!</p>
      <p>I love </p>
      <ul>
        <li><a href="https://en.wikipedia.org/wiki/Computer_programming">Programming</a></li>
        <li><a href="https://www.ruby-lang.org/en/" target="_blank">Ruby</a></li>
        <li><a href="https://www.javascript.com">JavaScript</a></li>
      </ul>
      <p>I also love</p>
      <ul>
        <li>Drawing and Digital Painting, you can check some of my pieces in the <a href="#gallery">gallery</a></li>
      </ul>
    </div>
  </div>

  <div>
    <div class="contact bg-dark box-shadow">
      <span>For more infomation:</span>
      <div>
        <a href="https://twitter.com/uybinh" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i> uybinh</a>
      </div>
      <div>
        <a href="https://github.com/uybinh" target="_blank"><i class="fa fa-github" aria-hidden="true"></i> uybinh</a>
      </div>
      <div>
        <a href="mailto:uybinh@gmail.com" target="_top"><i class="fa fa-envelope" aria-hidden="true"></i>
          uybinh@gmail.com</a>
      </div>
    </div>
  </div>
</div>