<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- Open Graph protocol -->
<meta property="og:title" content="Phan Uy Bình | Web Developer" />
<meta property="og:image" content="https://github.com/uybinh/landingpage/raw/master/images/page_preview.png" />
<!-- Favicon -->
<link rel="apple-touch-icon" href="images/favicons/apple-touch-icon-180.png">
<link rel="icon" type="image/png" href="images/favicons/favicon-144.png">
<link rel="icon" type="image/png" sizes="64x64" href="images/favicons/favicon-64.png">
<link rel="shortcut icon" href="images/favicons/favicon.ico">
<title>Phan Uy Bình | Web Developer</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Porfolio page of a passionate web developer.">
<!-- jQuery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js" integrity="sha384-fJU6sGmyn07b+uD1nMk7/iSb4yvaowcueiQhfVgQuD98rfva8mcr1eSvjchfpMrH" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<link rel="stylesheet" type="text/css" media="screen" href="css/main.css?{{site.time | date: '%s%N'}}" />
<link href="https://fonts.googleapis.com/css?family=Do+Hyeon|Open+Sans&amp;subset=vietnamese" rel="stylesheet">
<script src="js/app.js?{{site.time | date: '%s%N'}}"></script>