
<div class="jumbotron text-center no-background">
  <h1>My Projects</h1>
</div>

<div class="row text-center">
  <div class="col-12 col-md-6">
    <a href="https://github.com/uybinh/patatap_clone" target="_blank"><h5>Patatap Clone</h2></a>
    <a href="https://uybinh.github.io/patatap_clone/" target="_blank">
      <img id="tag-img" class="img-thumbnail" src="images/projects_images/patatap.gif" alt="">
    </a>
  </div>

  <div class="col-12 col-md-6">
    <a href="https://ancient-ocean-89576.herokuapp.com" target="_blank"><h5>Sample App - Rails</h2></a>
    <a href="https://ancient-ocean-89576.herokuapp.com" target="_blank">
      <img id="tag-img" class="img-thumbnail" src="images/projects_images/sample_app.gif" alt="">
    </a>
  </div>

  <div class="col-12 col-md-6">
    <a href="https://github.com/uybinh/tic_tac_toe_web" target="_blank"><h5>Tic Tac Toe game</h2></a>
    <a href="https://uybinh.github.io/tic_tac_toe_web/" target="_blank">
      <img class="img-thumbnail" src="images/projects_images/tic_tac_toe_web.gif" alt="">
    </a>
  </div>

  <div class="col-12 col-md-6">
    <a href="https://uybinh.github.io/Etch-a-Sketch/" target="_blank"><h5>Etch-a-Sketch drawing pad</h5></a>
    <a href="https://uybinh.github.io/Etch-a-Sketch/" target="_blank">
      <img class="img-thumbnail" src="images/projects_images/etch_a_sketch.png" alt="">
    </a>
  </div>

  <div class="col-12 col-md-6">
    <a href="https://uybinh.github.io/js-calculator/" target="_blank"><h5>Javascript Calculator</h5></a>
    <a href="https://uybinh.github.io/js-calculator/" target="_blank">
      <img class="img-thumbnail" src="images/projects_images/js_calculator.png" alt="">
    </a>
  </div>
  <div class="col-12 col-md-6">
    <a href="https://uybinh.github.io/rock_paper_scissor/" target="_blank"><h5>Rock, Paper, Scissor game</h5></a>
    <a href="https://uybinh.github.io/rock_paper_scissor/" target="_blank">
      <img class="img-thumbnail" src="images/projects_images/rock_paper_scrissor.png" alt="">
    </a>
  </div>

  <div class="col-12 col-md-6">
    <a href="https://uybinh.github.io/google-homepage/" target="_blank"><h5>Google hompage clone</h5></a>
    <a href="https://uybinh.github.io/google-homepage/" target="_blank">
      <img class="img-thumbnail" src="images/projects_images/google_clone.png" alt="">
    </a>
  </div>
</div>